USE [master]
GO
/****** Object:  Database [TourMe]    Script Date: 9/8/2017 2:03:14 PM ******/
CREATE DATABASE [TourMe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMe', FILENAME = N'I:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TourMe.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TourMe_log', FILENAME = N'I:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TourMe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMe]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NOT NULL,
	[ArticleKindId] [int] NOT NULL,
	[OwnId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArticleKind]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleKind](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Kind] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[Kind] [nvarchar](40) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlaceId] [int] NULL,
	[EventId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Url] [nvarchar](150) NOT NULL,
	[DateCreate] [datetime] NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[EventKindId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventKind]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventKind](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Kind] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[PlaceId] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[HotelScaleId] [int] NULL,
	[MinPrice] [float] NOT NULL,
	[MaxPrice] [float] NOT NULL,
	[Star] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelScale]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelScale](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Scale] [nvarchar](50) NULL,
	[SameScaleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Url] [nvarchar](150) NOT NULL,
	[DateCreate] [datetime] NULL DEFAULT (getdate()),
	[Description] [nvarchar](max) NULL,
	[ImageKindId] [int] NOT NULL,
	[OwnId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageKind]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageKind](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL DEFAULT (getdate()),
	[Description] [nvarchar](max) NULL,
	[Kind] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Place]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Place](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NOT NULL,
	[Latitude] [varchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ServeStatus] [int] NOT NULL,
	[DateCreate] [datetime] NOT NULL CONSTRAINT [DF__Place__DateCreat__1ED998B2]  DEFAULT (getdate()),
	[DateUpdate] [datetime] NOT NULL CONSTRAINT [DF__Place__DateUpdat__1FCDBCEB]  DEFAULT (getdate()),
	[PlaceKindId] [int] NOT NULL,
	[RootPlaceId] [int] NOT NULL,
	[RatingStar] [int] NOT NULL CONSTRAINT [DF__Place__RatingSta__21B6055D]  DEFAULT ((0)),
	[NofSearch] [int] NULL CONSTRAINT [DF__Place__NofSearch__22AA2996]  DEFAULT ((0)),
	[Poppular] [int] NULL CONSTRAINT [DF__Place__Poppular__239E4DCF]  DEFAULT ((0)),
	[TimeOpen] [time](7) NOT NULL,
	[TimeClose] [time](7) NOT NULL,
	[LastConfirm] [datetime] NOT NULL CONSTRAINT [DF__Place__LastConfi__24927208]  DEFAULT (getdate()),
	[Facebook] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[PageUrl] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
 CONSTRAINT [PK__Place__3214EC07827B697D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlaceKind]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceKind](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL DEFAULT (getdate()),
	[Description] [nvarchar](max) NULL,
	[Kind] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[PlaceId] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[RestaurantScaleId] [int] NULL,
	[MinPrice] [float] NOT NULL,
	[MaxPrice] [float] NOT NULL,
	[Star] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RestaurantScale]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantScale](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Scale] [nvarchar](50) NULL,
	[SameScaleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TagUsage]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagUsage](
	[TagId] [int] NULL,
	[PlaceId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TagUsage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripBook]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripBook](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[UserId] [int] NOT NULL,
	[isTraveled] [bit] NULL,
	[isRemoved] [bit] NULL,
	[FeedBackId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripBookHasPlace]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripBookHasPlace](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[TripBookId] [int] NOT NULL,
	[PlaceId] [int] NOT NULL,
	[isTraveled] [bit] NULL,
	[isRemoved] [bit] NULL,
	[Vendor] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/8/2017 2:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[DateCreate] [datetime] NULL DEFAULT (getdate()),
	[DateUpdate] [datetime] NULL DEFAULT (getdate()),
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[ImageId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[isEnable] [bit] NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_TagUsage]    Script Date: 9/8/2017 2:03:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_TagUsage] ON [dbo].[TagUsage]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Article] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[Article] ADD  DEFAULT (getdate()) FOR [DateUpdate]
GO
ALTER TABLE [dbo].[ArticleKind] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT (getdate()) FOR [DateStart]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT (getdate()) FOR [DateEnd]
GO
ALTER TABLE [dbo].[EventKind] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[FeedBack] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[TripBook] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[TripBook] ADD  DEFAULT ((0)) FOR [isTraveled]
GO
ALTER TABLE [dbo].[TripBook] ADD  DEFAULT ((0)) FOR [isRemoved]
GO
ALTER TABLE [dbo].[TripBookHasPlace] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[TripBookHasPlace] ADD  DEFAULT ((0)) FOR [isTraveled]
GO
ALTER TABLE [dbo].[TripBookHasPlace] ADD  DEFAULT ((0)) FOR [isRemoved]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_ArticleKind] FOREIGN KEY([ArticleKindId])
REFERENCES [dbo].[ArticleKind] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_ArticleKind]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Event]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Place]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Users]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventKind] FOREIGN KEY([EventKindId])
REFERENCES [dbo].[EventKind] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventKind]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_HotelScale] FOREIGN KEY([HotelScaleId])
REFERENCES [dbo].[HotelScale] ([Id])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_HotelScale]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_Place]
GO
ALTER TABLE [dbo].[HotelScale]  WITH CHECK ADD  CONSTRAINT [FK_HotelScale_HotelScale] FOREIGN KEY([SameScaleId])
REFERENCES [dbo].[HotelScale] ([Id])
GO
ALTER TABLE [dbo].[HotelScale] CHECK CONSTRAINT [FK_HotelScale_HotelScale]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_ImageKind] FOREIGN KEY([ImageKindId])
REFERENCES [dbo].[ImageKind] ([Id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_ImageKind]
GO
ALTER TABLE [dbo].[Place]  WITH CHECK ADD  CONSTRAINT [FK_Place_Place] FOREIGN KEY([RootPlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[Place] CHECK CONSTRAINT [FK_Place_Place]
GO
ALTER TABLE [dbo].[Place]  WITH CHECK ADD  CONSTRAINT [FK_Place_PlaceKind] FOREIGN KEY([PlaceKindId])
REFERENCES [dbo].[PlaceKind] ([Id])
GO
ALTER TABLE [dbo].[Place] CHECK CONSTRAINT [FK_Place_PlaceKind]
GO
ALTER TABLE [dbo].[Place]  WITH CHECK ADD  CONSTRAINT [FK_Place_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Place] CHECK CONSTRAINT [FK_Place_Users]
GO
ALTER TABLE [dbo].[Restaurant]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[Restaurant] CHECK CONSTRAINT [FK_Restaurant_Place]
GO
ALTER TABLE [dbo].[Restaurant]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_RestaurantScale] FOREIGN KEY([RestaurantScaleId])
REFERENCES [dbo].[RestaurantScale] ([Id])
GO
ALTER TABLE [dbo].[Restaurant] CHECK CONSTRAINT [FK_Restaurant_RestaurantScale]
GO
ALTER TABLE [dbo].[RestaurantScale]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantScale_RestaurantScale] FOREIGN KEY([SameScaleId])
REFERENCES [dbo].[RestaurantScale] ([Id])
GO
ALTER TABLE [dbo].[RestaurantScale] CHECK CONSTRAINT [FK_RestaurantScale_RestaurantScale]
GO
ALTER TABLE [dbo].[TagUsage]  WITH CHECK ADD  CONSTRAINT [FK_TagUsage_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[TagUsage] CHECK CONSTRAINT [FK_TagUsage_Event]
GO
ALTER TABLE [dbo].[TagUsage]  WITH CHECK ADD  CONSTRAINT [FK_TagUsage_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[TagUsage] CHECK CONSTRAINT [FK_TagUsage_Place]
GO
ALTER TABLE [dbo].[TagUsage]  WITH CHECK ADD  CONSTRAINT [FK_TagUsage_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[TagUsage] CHECK CONSTRAINT [FK_TagUsage_Tag]
GO
ALTER TABLE [dbo].[TripBookHasPlace]  WITH CHECK ADD  CONSTRAINT [FK_TripBookHasPlace_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[TripBookHasPlace] CHECK CONSTRAINT [FK_TripBookHasPlace_Place]
GO
ALTER TABLE [dbo].[TripBookHasPlace]  WITH CHECK ADD  CONSTRAINT [FK_TripBookHasPlace_TripBook] FOREIGN KEY([TripBookId])
REFERENCES [dbo].[TripBook] ([Id])
GO
ALTER TABLE [dbo].[TripBookHasPlace] CHECK CONSTRAINT [FK_TripBookHasPlace_TripBook]
GO
ALTER TABLE [dbo].[Place]  WITH CHECK ADD  CONSTRAINT [CK__Place__RatingSta__20C1E124] CHECK  (([RatingStar]=(5) OR [RatingStar]=(4) OR [RatingStar]=(3) OR [RatingStar]=(2) OR [RatingStar]=(1) OR [RatingStar]=(0)))
GO
ALTER TABLE [dbo].[Place] CHECK CONSTRAINT [CK__Place__RatingSta__20C1E124]
GO
ALTER TABLE [dbo].[Place]  WITH CHECK ADD  CONSTRAINT [CK__Place__ServeStat__1DE57479] CHECK  (([ServeStatus]=(4) OR [ServeStatus]=(3) OR [ServeStatus]=(2) OR [ServeStatus]=(1) OR [ServeStatus]=(0)))
GO
ALTER TABLE [dbo].[Place] CHECK CONSTRAINT [CK__Place__ServeStat__1DE57479]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]=(4) OR [Role]=(3) OR [Role]=(2) OR [Role]=(1) OR [Role]=(0)))
GO
USE [master]
GO
