:root {
    --main-bg-color: white;
    --main-elbg-color: black;
    --text-color-1: white;
    --text-color-2: black;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.tmap {
    height: 100vh;
    width: 100%;
}

.ticon {
    width: 1em !important;
}

.tline {
    margin: 1.5em 0 1.5em 0;
    width: 60%;
    height: 1px;
    background-color: black;
    margin-left: 17%;
}

.lineblock {
    padding: 1em;
    width: 100%;
    min-height: 3em;
    background-color: azure;
    cursor: pointer;
}


/*-------Left Div-------*/

.navLeftDiv {
    position: absolute;
    background-color: black;
    color: white;
    padding: 0 0.4em 0.4em 0.4em;
    z-index: 0;
    top: 2.2em;
    left: -1.2em;
    transform: rotate(90deg);
    cursor: pointer;
}

.navLeftDiv>img {
    position: relative;
    top: 0.4em;
}

.navLeftDivAboutUs {
    position: absolute;
    background-color: black;
    color: white;
    padding: 0 0.4em 0.4em 0.4em;
    z-index: 0;
    top: 10em;
    left: -1.5em;
    transform: rotate(90deg);
    cursor: pointer;
}

.navLeftDivAboutUs > img {
    position: relative;
    top: 0.4em;
}

.leftDiv {
    top: 0;
    position: absolute;
    width: 29em;
    height: 93.8%;
}

.closeLeftDiv {
    position: absolute;
    left: 34.8em;
    top: 0em;
    width: 3.2em;
    height: 3.2em;
    background-color: black;
    border: none;
    color: white;
    display: block;
    transition: all 500ms ease-in-out;
}

.closingleftDiv {
    display: none;
}

.searchDiv {
    width: 99.8%;
    height: 2.6em;
    background-color: black;
    padding-left: 1em;
}

.tSearchInput {
    font-size: 1em;
    border: none;
    width: 100%;
}

.tSearchInput input{
    width:90%;
}

.tSearchIcon {
    position: relative;
    top: 0.5em;
    
    margin-left: 0.5em;
}

.tSearchContent {
    background-color: white;
    width: 100%;
    height: 95.7%;
    background-size: cover;
    overflow-y: scroll;
}


/*------PlaceInfo-------*/

.tPlaceInfo {
    width: 100%;
    height: 36.7em;
    background-color: white;
}

.tPlaceInfo-img {
    width: 100%;
    height: 35%;
}

.tPlaceInfo-Name {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.6em 0.6em 0 0.6em;
}

.tPlaceInfo-Type {
    padding: 0 0.6em 0 1em;
}

.divRatingStar {
    width: 7em;
    margin: 0;
    float: right;
}

.ratingstar {
    width: 1em;
    height: 1em;
}

.tPlaceInfo-info {}

.infoblock {
    padding: 0.5em 0 0.5em 0;
}

.tPlaceInfo-description {}

.tPlaceInfo-comment {}


/*-------Event-------*/

.eventBlock {
    padding: 1em;
    width: 100%;
    min-height: 3em;
    background-color: azure;
    cursor: pointer;
}

.eventDetail {
    margin: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.eventDetail-open {
    margin-top: 1.2em;
    height: 10em;
    overflow: visible;
    transition: all 500ms ease-in-out;
}

.graybg {
    background-color: gray;
}

.eventDate {
    margin: 0;
    width: 5em;
    float: right;
}


/*--------EndEvent-------*/


/*---------End Place Info--------*/


/*---------Tabs-----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-color {
    /*    background-color: #46a1de;*/
    transition-duration: .5s;
}

.text-color {
    color: #46a1de;
    transition-duration: .5s;
    margin: 1em;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: black;
}

.tabs>li {
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 10px 5px 10px 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: grey;
}

.tabs>li:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: .25s;
    /*    border-radius: 5px 5px 0 0;*/
}

.tabs>li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}

.tabs>li.active {
    color: black;
    font-weight: bold;
}

.tabs>li.active:before {
    transition-duration: .5s;
    background-color: white;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tab__content {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.tab__content>li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
}

.tab__content>li .content__wrapper {
    font-size: 0.9em;
    text-align: left;
    border-radius: 5px;
    width: 100%;
    padding: 1.2em 1.2em 1.5em 1.2em;
    background-color: white;
}

.content__wrapper h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
}

.content__wrapper img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/*---------End Tabs-----------*/


/*---------End Left Div----------*/


/*------------navRightDiv-------------*/


/*----------TourBook---------*/

.closerightDiv-tourBook {
    position: absolute;
    right: 24em;
    top: 0em;
    width: 3.2em;
    height: 3.2em;
    background-color: black;
    border: none;
    color: white;
    display: block;
    transition: all 500ms ease-in-out;
}

.closingrightDiv-tourBook {
    display: none;
}

.navrightDiv-tourBook {
    position: absolute;
    background-color: black;
    color: white;
    padding: 0 0.4em 0.4em 0.5em;
    z-index: 0;
    top: 3em;
    right: -1.8em;
    transform: rotate(-90deg);
    cursor: pointer;
}

.navrightDiv-tourBook>img {
    width: 1.2em;
    position: relative;
    top: 0.1em;
}

.rightDiv-tourbook {
    background-color: var(--main-bg-color);
    right: 0;
    top: 0;
    position: absolute;
    width: 20em;
    height: 20em;
    z-index: 1;
}

.tourBook-nav {
    color: white;
    width: 100%;
    height: 2.67em;
    background-color: black;
    text-align: center;
    padding-top: 0.3em;
}

.tourBook-content {
    width: 100%;
    height: 73%;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
}

.deleteTourBookLine {
    float: right;
}
/*--------EndTourBook---------*/


/*---------Direction--------*/

.closerightDiv-direction {
    position: absolute;
    right: 24em;
    width: 3.2em;
    height: 3.2em;
    background-color: black;
    border: none;
    color: white;
    display: block;
    transition: all 500ms ease-in-out;
}

.closingrightDiv-direction {
    display: none;
}

.navrightDiv-direction {
    position: absolute;
    background-color: black;
    color: white;
    padding: 0 0.4em 0.4em 0.5em;
    z-index: 0;
    top: 25em;
    right: -1.8em;
    transform: rotate(-90deg);
    cursor: pointer;
}

.navrightDiv-direction>img {
    width: 1.2em;
    position: relative;
    top: 0.1em;
}

.rightDiv-direction {
    background-color: var(--main-bg-color);
    right: 0;
    top: 20em;
    position: absolute;
    width: 20em;
    height: 19em;
    z-index: 1;
}

.direction-nav {
    color: white;
    width: 100%;
    height: 2.67em;
    background-color: black;
    text-align: center;
    padding-top: 0.6em;
}

.direction-content {
    width: 100%;
    height: 17em;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
    padding: 1em;
}

/*---------EndDirection---------*/


/*----------EndNavRightDiv--------*/


/*-----Scroll--------*/

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}


/* Handle */

::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: rgb(128, 128, 128);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 1);
}


/*-------EndScroll-------*/

.add-btn{
    background: none;
    border: none;
    float: right;
}

.add-btn img{
    width: auto;
    height: auto;
}

.ui-menu{
    height: 20em;
}

.searchDiv ul {
    position: absolute;
    list-style-type: none;
    width: 87.7%;
}

.searchDiv li{
    background-color: white;
    width: 100%;
}

.searchDiv li:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

.searchDiv-kinds {
    min-width: 100%;
    background: black;
}

.searchDiv-kinds ul {
    min-width: 150%;
    max-height: 2em;
}

.searchDiv-kinds li {
    display: inline;
    width: auto;
    padding: 0.3em;
}

.mappingBtn{
    height: 15%;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    padding: 0.7em 0 0.7em 0;
}

.mappingBtn:hover{
    cursor: pointer;
}

.fbBtn {
    float: right;
    margin-right: 1em;
    background: transparent;
    border: none;
    padding: 9px 5px;
    border-radius: 100%;
}

.fbBtn img{
    width: 70%;
    height: 50%;
}

.fbBtn:hover{
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.advertisement {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ad-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.aboutus{

}

.address-result{
    color: lightgrey;
    font-size: 0.7em;
}

.add-btn-list {
    
}