
@{
    ViewBag.Title = "Crawling";
    Layout = null;
}

<h2>Crawling</h2>
<html>

<head>
</head>

<body>
    <div id="info"> </div>

    <script src="~/Scripts/myScript/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/myScript/jquery-ui-1.12.1/craw.js"></script>
</body>

</html>


