@*@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
</head>
<body>

    <div id="example">
        <div id="grid"></div>

        <script>
            var T = "Enable";
            var F  = "Disable";
            $(document).ready(function () {
                var crudServiceBaseUrl = "",
                    dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: crudServiceBaseUrl + "/api/Place/Get",
                                dataType: "json"
                            },
                            update: {
                                url: crudServiceBaseUrl + "/api/Place/Update",
                                type: "POST",
                                dataType: "json",
                                complete: function (e) {
                                    $("#grid").data("kendoGrid").dataSource.read();
                                }
                            },
                            destroy: {
                                url: crudServiceBaseUrl + "/api/Place/Destroy",
                                type: "POST",
                                dataType: "json",
                                complete: function (e) {
                                    $("#grid").data("kendoGrid").dataSource.read();
                                }
                            },
                            create: {
                                url: crudServiceBaseUrl + "/api/Place/Create",
                                type: "POST",
                                dataType: "json",
                                complete: function (e) {
                                    $("#grid").data("kendoGrid").dataSource.read();
                                }
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    for (var i in options.models[0]) {
                                        if (!isNaN(options.models[0][i])) {
                                            if (options.models[0][i] instanceof Date) {
                                                options.models[0][i] = options.models[0][i].toISOString();
                                            }
                                        }
                                    }
                                    tmp = options.models[0];
                                    return options.models[0];
                                }
                            }
                        },
                        batch: true,
                        pageSize: 20,
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    Id: { editable: false, nullable: false, defaultValue: -1 },
                                    Name: { editable: true, nullable: true, validation: {required: true} },
                                    Description: { editable: true, nullable: true },
                                    Longitude: { editable: true, validation: { required: true } },
                                    Latitude: { editable: true, validation: { required: true } },
                                    ZoomSize: { editable: true},
                                    Address: { editable: true, validation: { required: true } },
                                    ServeStatus: { editable: true, type: "number" },
                                    RootPlaceId: { type: "number", editable: true, validation: { required: true } },
                                    RatingStar: { type: "number", editable: true, validation: { required: true }, defaultValue:0 },
                                    NofSearch: { editable: true, validation: { min: 0, required: true }, defaultValue: 0 },
                                    Poppular: { editable: true, validation: { min: 0, required: true }, defaultValue: 0 },
                                    TimeOpen: { editable: true, validation: { required: true } },
                                    TimeClose: { editable: true, validation: { required: true } },
                                    LastConfirm: { editable: false, type: "date" },
                                    Facebook: { editable: true, validation: { required: true } },
                                    Instagram: { editable: true, validation: { required: true } },
                                    PageUrl: { editable: true, validation: { required: true } },
                                    UserId: { editable: true, validation: { required: true } },
                                    PhoneNumber: { editable: true, validation: { required: true } },
                                    isEnable: {editable: true, type: "boolean"},
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 600,
                    toolbar: ["create"],
                    columns: [
                        { field: "Id", title: "Id", width: "70px"},
                        { field: "Name", title: "Name", width: "120px" },
                        { field: "Description", title: "Description", width: "150px", height: "100" },
                        { field: "Longitude", title:"Longitude", width: "100px" },
                        { field: "Latitude", title: "Latitude", width: "100px" },
                        { field: "ZoomSize", title: "ZoomSize ", width: "120px" },
                        { field: "Address", title: "Address ", width: "120px" },
                        { field: "ServeStatus", title: "ServeStatus ", width: "120px" },
                        { field: "RootPlaceId", title: "RootPlaceId ", width: "120px" },
                        { field: "RatingStar", title: "RatingStar ", width: "120px" },
                        { field: "NofSearch", title: "NofSearch ", width: "120px" },
                        { field: "Poppular", title: "Poppular ", width: "120px" },
                        { field: "TimeOpen", title: "TimeOpen ", width: "120px" },
                        { field: "TimeClose", title: "TimeClose ", width: "120px" },
                        { field: "LastConfirm", title: "LastConfirm ", width: "300px" },
                        { field: "Facebook", title: "Facebook ", width: "120px" },
                        { field: "Instagram", title: "Instagram ", width: "120px" },
                        { field: "PageUrl", title: "PageUrl ", width: "120px" },
                        { field: "UserId", title: "UserId ", width: "120px" },
                        { field: "PhoneNumber", title: "PhoneNumber ", width: "200px" },
                        { field: "isEnable", title: "isEnable ", width: "100px", template: "#=isEnable? T : F#" },
                        //{ field: "Name", title: "Unit Price", format: "{0:c}", width: "120px", editor: customBoolEditor },
                        { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                    editable: {
                        mode: "popup",
                        template: $("#template").html()
                    },
                });
            });

            function customBoolEditor(container, options) {
                $('<input class="k-checkbox" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                $('<label class="k-checkbox-label">&#8203;</label>').appendTo(container);
            }
        </script>
        <script type="text/x-kendo-template" id="template">
            #if(data.isNew()) {#
            #var createTemp = kendo.template($("\#createTemplate").html());#
            #=createTemp(data)#
            #} else {#
            #var createTemp = kendo.template($("\#editTemplate").html());#
            #=createTemp(data)#
            #}#
        </script>
        <script type="text/x-kendo-template" id="createTemplate">
            <div class="k-edit-label">
                <label for="Id">Id</label>
            </div>
            <div class="k-input">
                <input id="Id" type="number" style="margin-left:10px" data-bind="value:Id" disabled="disabled">
            </div>

            <div class="k-edit-label">
                <label for="RootPlaceId">RootPlaceId</label>
            </div>
            <div class="k-input">
                <input id="RootPlaceId" type="number" style="margin-left:10px" data-bind="value:RootPlaceId">
            </div>

            <div class="k-edit-label">
                <label for="Name">Name</label>
            </div>
            <div class="k-input">
                <input id="inputName" style="margin-left:10px" data-bind="value:Name" required="required">
            </div>

            <div class="k-edit-label">
                <label for="Description">Description</label>
            </div>
            <div class="k-input">
                <input id="inputDescription" style="margin-left:10px" data-bind="value:Description">
            </div>

            <div class="k-edit-label">
                <label for="Longitude">Longitude</label>
            </div>
            <div class="k-input">
                <input id="inputLongitude" style="margin-left:10px" data-bind="value:Longitude" required="required">
            </div>

            <div class="k-edit-label">
                <label for="Latitude">Latitude</label>
            </div>
            <div class="k-input">
                <input id="inputLatitude" style="margin-left:10px" data-bind="value:Latitude" required="required">
            </div>

            <div class="k-edit-label">
                <label for="ZoomSize">ZoomSize</label>
            </div>
            <div class="k-input">
                <input id="ZoomSize" style="margin-left:10px" data-bind="value:ZoomSize" required="required">
            </div>

            <div class="k-edit-label">
                <label for="Address">Address</label>
            </div>
            <div class="k-input">
                <input id="inputAddress" style="margin-left:10px" data-bind="value:Address">
            </div>

            <div class="k-edit-label">
                <label for="ServeStatus">ServeStatus</label>
            </div>
            <div class="k-input">
                <input id="ServeStatus" type="number" style="margin-left:10px" data-bind="value:ServeStatus" min="0" max="4">
            </div>

            <div class="k-edit-label">
                <label for="RatingStar">RatingStar</label>
            </div>
            <div class="k-input">
                <input id="RatingStar" type="number" style="margin-left:10px" data-bind="value:RatingStar" min="0" max="5">
            </div>

            <div class="k-edit-label">
                <label for="NofSearch">NofSearch</label>
            </div>
            <div class="k-input">
                <input id="NofSearch" type="number" style="margin-left:10px" data-bind="value:NofSearch" min="0">
            </div>

            <div class="k-edit-label">
                <label for="Poppular">Poppular</label>
            </div>
            <div class="k-input">
                <input id="Poppular" type="number" style="margin-left:10px" data-bind="value:Poppular" min="0">
            </div>

            <div class="k-edit-label">
                <label for="TimeOpen">TimeOpen</label>
            </div>
            <div class="k-input">
                <input id="TimeOpen" type="number" style="margin-left:10px" data-bind="value:TimeOpen" required="required" min="0" max="2400">
            </div>

            <div class="k-edit-label">
                <label for="TimeClose">TimeClose</label>
            </div>
            <div class="k-input">
                <input id="TimeClose" type="number" style="margin-left:10px" data-bind="value:TimeClose" required="required" min="0" max="2400">
            </div>

            @*<div class="k-edit-label">
                <label for="LastConfirm">LastConfirm</label>
            </div>
            <div class="k-input">
                <input id="LastConfirm" type="datetime" style="margin-left:10px" data-bind="value:LastConfirm" disabled="disabled">
            </div>*@
            
            <div class="k-edit-label">
                <label for="Facebook">Facebook</label>
            </div>
            <div class="k-input">
                <input id="inputFacebook" style="margin-left:10px" data-bind="value:Facebook">
            </div>

            <div class="k-edit-label">
                <label for="Instagram">Instagram</label>
            </div>
            <div class="k-input">
                <input id="inputInstagram" style="margin-left:10px" data-bind="value:Instagram">
            </div>

            <div class="k-edit-label">
                <label for="PageUrl">PageUrl</label>
            </div>
            <div class="k-input">
                <input id="inputPageUrl" style="margin-left:10px" data-bind="value:PageUrl">
            </div>

            <div class="k-edit-label">
                <label for="PhoneNumber">PhoneNumber</label>
            </div>
            <div class="k-input">
                <input id="inputPhoneNumber" style="margin-left:10px" data-bind="value:PhoneNumber">
            </div>

            <div class="k-edit-label">
                <label for="UserId">UserId</label>
            </div>
            <div class="k-input">
                <input id="UserId" type="number" style="margin-left:10px" data-bind="value:UserId">
            </div>

            <div class="k-edit-label">
                <label for="isEnable">isEnable</label>
            </div>
            <div class="k-input">
                <input id="isEnable" type="checkbox" style="margin-left:10px" data-bind="value:isEnable">
            </div>
        </script>
        <script type="text/x-kendo-template" id="editTemplate">
            <div class="k-edit-label">
                <label for="Id">Id</label>
            </div>
            <div class="k-input">
                <input id="Id" type="number" style="margin-left:10px" data-bind="value:Id" disabled="disabled">
            </div>

            <div class="k-edit-label">
                <label for="RootPlaceId">RootPlaceId</label>
            </div>
            <div class="k-input">
                <input id="RootPlaceId" type="number" style="margin-left:10px" data-bind="value:RootPlaceId">
            </div>

            <div class="k-edit-label">
                <label for="Name">Name</label>
            </div>
            <div class="k-input">
                <input id="inputName" style="margin-left:10px" data-bind="value:Name" required="required">
            </div>

            <div class="k-edit-label">
                <label for="Description">Description</label>
            </div>
            <div class="k-input">
                <input id="inputDescription" style="margin-left:10px" data-bind="value:Description">
            </div>

            <div class="k-edit-label">
                <label for="Longitude">Longitude</label>
            </div>
            <div class="k-input">
                <input id="inputLongitude" style="margin-left:10px" data-bind="value:Longitude" required="required">
            </div>

            <div class="k-edit-label">
                <label for="Latitude">Latitude</label>
            </div>
            <div class="k-input">
                <input id="inputLatitude" style="margin-left:10px" data-bind="value:Latitude" required="required">
            </div>

            <div class="k-edit-label">
                <label for="ZoomSize">ZoomSize</label>
            </div>
            <div class="k-input">
                <input id="ZoomSize" style="margin-left:10px" data-bind="value:ZoomSize" required="required">
            </div>

            <div class="k-edit-label">
                <label for="Address">Address</label>
            </div>
            <div class="k-input">
                <input id="inputAddress" style="margin-left:10px" data-bind="value:Address">
            </div>

            <div class="k-edit-label">
                <label for="ServeStatus">ServeStatus</label>
            </div>
            <div class="k-input">
                <input id="ServeStatus" type="number" style="margin-left:10px" data-bind="value:ServeStatus" min="0" max="4">
            </div>

            <div class="k-edit-label">
                <label for="RatingStar">RatingStar</label>
            </div>
            <div class="k-input">
                <input id="RatingStar" type="number" style="margin-left:10px" data-bind="value:RatingStar" min="0" max="5">
            </div>

            <div class="k-edit-label">
                <label for="NofSearch">NofSearch</label>
            </div>
            <div class="k-input">
                <input id="NofSearch" type="number" style="margin-left:10px" data-bind="value:NofSearch" min="0">
            </div>

            <div class="k-edit-label">
                <label for="Poppular">Poppular</label>
            </div>
            <div class="k-input">
                <input id="Poppular" type="number" style="margin-left:10px" data-bind="value:Poppular" min="0">
            </div>

            <div class="k-edit-label">
                <label for="TimeOpen">TimeOpen</label>
            </div>
            <div class="k-input">
                <input id="TimeOpen" type="number" style="margin-left:10px" data-bind="value:TimeOpen" required="required" min="0" max="2400">
            </div>

            <div class="k-edit-label">
                <label for="TimeClose">TimeClose</label>
            </div>
            <div class="k-input">
                <input id="TimeClose" type="number" style="margin-left:10px" data-bind="value:TimeClose" required="required" min="0" max="2400">
            </div>

            @*<div class="k-edit-label">
            <label for="LastConfirm">LastConfirm</label>
        </div>
        <div class="k-input">
            <input id="LastConfirm" type="datetime" style="margin-left:10px" data-bind="value:LastConfirm" disabled="disabled">
        </div>*@

            <div class="k-edit-label">
                <label for="Facebook">Facebook</label>
            </div>
            <div class="k-input">
                <input id="inputFacebook" style="margin-left:10px" data-bind="value:Facebook">
            </div>

            <div class="k-edit-label">
                <label for="Instagram">Instagram</label>
            </div>
            <div class="k-input">
                <input id="inputInstagram" style="margin-left:10px" data-bind="value:Instagram">
            </div>

            <div class="k-edit-label">
                <label for="PageUrl">PageUrl</label>
            </div>
            <div class="k-input">
                <input id="inputPageUrl" style="margin-left:10px" data-bind="value:PageUrl">
            </div>

            <div class="k-edit-label">
                <label for="PhoneNumber">PhoneNumber</label>
            </div>
            <div class="k-input">
                <input id="inputPhoneNumber" style="margin-left:10px" data-bind="value:PhoneNumber">
            </div>
            <div class="k-edit-label">
                <label for="UserId">UserId</label>
            </div>
            <div class="k-input">
                <input id="UserId" type="number" style="margin-left:10px" data-bind="value:UserId">
            </div>

            <div class="k-edit-label">
                <label for="isEnable">isEnable</label>
            </div>
            <div class="k-input">
                <input id="isEnable" type="checkbox" style="margin-left:10px" data-bind="value:isEnable">
            </div>
        </script>
    </div>
</body>
</html>*@